---
title : "01. key 값 생성 (1)"
author : "GC"
date : "06/18/24"
---

# 1. 데이터 로드

In [25]:
import pandas as pd
import os
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "plotly_mimetype+notebook_connected"
import warnings

warnings.filterwarnings(action = "ignore")

In [26]:
file_list = os.listdir("D:/projects/projects/posts/big projects/untitled2/data1")
#file_list

data = pd.DataFrame()
for i in range(len(file_list)) :
    temp = pd.read_csv("data1/"+file_list[i])
    data = pd.concat([data,temp])

data.reset_index(inplace=True,drop = True)

# 2. key 값 생성

`-` RESPOND_ID + `-` + 조사년월

In [27]:
data["key"] = [str(i) + "-"+ str(j)[:6] for i,j in zip(data["RESPOND_ID"],data["EXAMIN_BEGIN_DE"]) ]

`-` 중복값 drop

In [28]:
data.shape

(68527, 15)

In [29]:
d_cols = ["RESPOND_ID","EXAMIN_BEGIN_DE"]


data = data.drop(d_cols,axis = 1).set_index("key").reset_index().drop_duplicates()

In [35]:
data.sort_values("key",ascending = False)

,key,SEXDSTN_FLAG_CD,AGRDE_FLAG_NM,ANSWRR_OC_AREA_NM,HSHLD_INCOME_DGREE_NM,WORKDAY_DAY_AVRG_LSR_TIME_VALUE,WKEND_DAY_AVRG_LSR_TIME_VALUE,ONE_WEEK_TOT_LSR_TIME_VALUE,LSR_TIME_REST_RCRT_USE_RATE,LSR_TIME_HOBBY_USE_RATE,LSR_TIME_SELF_IMPT_USE_RATE,LSR_TIME_TWDPSN_RLTN_FLWSP_USE_RATE,LSR_TIME_ETC_USE_RATE
7280,99866-202202,F,50대,서울특별시,500이상700만원 미만,7,5,45,20.0,0.0,50.0,30.0,0.0
6768,99861-202201,F,30대,부산광역시,300만원 미만,2,4,18,50.0,0.0,30.0,20.0,0.0
2675,99850-202112,M,40대,전라북도,300이상500만원 미만,0,4,8,50.0,30.0,10.0,10.0,0.0
6245,99849-202201,F,20대,부산광역시,무응답,1,5,15,25.0,5.0,0.0,70.0,0.0
4207,99645-202112,M,40대,경상남도,700만원 이상,1,4,13,0.0,0.0,50.0,50.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8774,100303-202202,F,20대,서울특별시,300만원 미만,12,12,84,80.0,0.0,10.0,10.0,0.0
4722,100234-202112,M,30대,울산광역시,500이상700만원 미만,2,2,14,100.0,0.0,0.0,0.0,0.0
5755,100165-202201,M,30대,부산광역시,700만원 이상,2,6,22,70.0,5.0,20.0,5.0,0.0
1669,100034-202111,M,30대,경상북도,300이상500만원 미만,2,5,20,20.0,60.0,10.0,10.0,0.0
28470,1000001-202211,F,20대,광주광역시,700만원 이상,1,1,7,100.0,0.0,0.0,0.0,0.0

In [30]:
#data.to_csv("dataset1(key값 추가).csv",index = False, encoding = "euc-kr")