---
title : "05. EDA (4)"
author : "GC"
date : "06/19/24"
---

# 1. 데이터 로드

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("1차 데이터합본.csv", encoding = "euc-kr")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65383 entries, 0 to 65382
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   key             65383 non-null  object
 1   성별구분코드          65383 non-null  object
 2   연령대구분명          65383 non-null  object
 3   답변자거주지역명        65383 non-null  object
 4   가구소득정도명         65383 non-null  object
 5   평일일평균레저시간       65383 non-null  int64
 6   주말일평균레저시간       65383 non-null  int64
 7   1주총레저시간         65383 non-null  int64
 8   레저시간휴식오락사용비율    65383 non-null  int64
 9   레저시간취미사용비율      65383 non-null  int64
 10  레저시간본인계발사용비율    65383 non-null  int64
 11  레저시간대인관계교제사용비율  65383 non-null  int64
 12  레저시간기타사용비율      65383 non-null  int64
 13  문화예술관람관심정도      65383 non-null  object
 14  문화예술활동관심정도      65383 non-null  object
 15  스포츠관람관심정도       65383 non-null  object
 16  스포츠활동관심정도       65383 non-null  object
 17  관광여행관심정도        65383 non-null  object
 18  오락휴식관심정도        65383 non-null  object
 19  본인계발본인관리관심정도    65383 non-null  object
 20  사회교류관심정도        65383 non-null  object
 21  레저시간사용목적1순위값    65383 non-null  object
 22  레저시간사용목적2순위값    65383 non-null  object
 23  3개월이내경험레저문화값    65383 non-null  object
 24  1년도이내경험레저문화값    65383 non-null  object
dtypes: int64(8), object(17)
memory usage: 12.5+ MB

# 2. 연령별 여가시간 평균 확인

In [4]:
df.groupby("가구소득정도명", as_index = False)["평일일평균레저시간"].mean()

         가구소득정도명  평일일평균레저시간
0       300만원 미만   3.226175
1  300이상500만원 미만   2.977953
2  500이상700만원 미만   2.854599
3       700만원 이상   3.011757
4            무응답   3.923512

In [5]:
df.groupby("가구소득정도명", as_index = False)["주말일평균레저시간"].mean()

         가구소득정도명  주말일평균레저시간
0       300만원 미만   5.764301
1  300이상500만원 미만   5.601390
2  500이상700만원 미만   5.683106
3       700만원 이상   6.044992
4            무응답   6.722332

# 3. 시니어 계층 레저시간 사용비율 확인

In [6]:
f = ["50대", "60대"]

s_df = df.loc[map(lambda x : x in f, df.연령대구분명),:]

In [7]:
m1 = s_df["레저시간휴식오락사용비율"].mean()
m2 = s_df["레저시간취미사용비율"].mean()
m3 = s_df["레저시간본인계발사용비율"].mean()
m4 = s_df["레저시간대인관계교제사용비율"].mean()
m5 = s_df["레저시간기타사용비율"].mean()

m1,m2,m3,m4,m5

(36.268034125975674,
 22.5228535124342,
 14.268324559811218,
 23.18446178979851,
 3.756326011980396)

# 4. 시니어계층 오락휴식 관심정도확인

In [8]:
s_df.오락휴식관심정도.value_counts()

오락휴식관심정도
비슷하다       14588
조금 커졌다      8648
조금 작아졌다     2920
매우 커졌다       712
매우 작아졌다      677
Name: count, dtype: int64

# 5. 시니어 계측 레저시간 사용목적

In [9]:
s_df.레저시간사용목적1순위값.value_counts()

레저시간사용목적1순위값
건강 관리를 위해              7467
자기만족-즐거움을 위해           4942
마음의 안정-휴식을 위해          4630
가족-지인 등과 시간을 보내기 위해    4485
자기 계발을 위해              2016
스트레스 해소를 위해            1884
대인 관계-교제를 위해           1363
남는 시간을 보내기 위해           671
기타                       87
Name: count, dtype: int64

In [12]:
df["연령대구분명"].value_counts()

연령대구분명
50대    15024
40대    14372
60대    12521
30대    12009
20대    11457
Name: count, dtype: int64

In [13]:
print(df.columns)

Index(['key', '성별구분코드', '연령대구분명', '답변자거주지역명', '가구소득정도명', '평일일평균레저시간',
       '주말일평균레저시간', '1주총레저시간', '레저시간휴식오락사용비율', '레저시간취미사용비율', '레저시간본인계발사용비율',
       '레저시간대인관계교제사용비율', '레저시간기타사용비율', '문화예술관람관심정도', '문화예술활동관심정도', '스포츠관람관심정도',
       '스포츠활동관심정도', '관광여행관심정도', '오락휴식관심정도', '본인계발본인관리관심정도', '사회교류관심정도',
       '레저시간사용목적1순위값', '레저시간사용목적2순위값', '3개월이내경험레저문화값', '1년도이내경험레저문화값'],
      dtype='object')